
<style>
#kt_aside_menu {
    max-height: 100vh !important; /* No sobrepasar la altura de la pantalla */
    height: auto !important;
    overflow-y: auto;
    scrollbar-width: thin;
}


</style>   
       <div class="aside aside-left aside-fixed d-flex flex-column flex-row-auto" id="kt_aside">
            <!--begin::Brand-->
            <div class="brand flex-column-auto" id="kt_brand" ;>
                <!--begin::Logo-->
                <a href="/" class="brand-logo" >
                    <img alt="Logo" style="width: 120px; height: 60px; background-color: aliceblue" src="assets/media/logos/logo-light.png" />
                </a>
                <!--end::Logo-->
                <!--begin::Toggle-->
                <button class="brand-toggle btn btn-sm px-0" id="kt_aside_toggle">
                    <span class="svg-icon svg-icon svg-icon-xl">
                        <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Angle-double-left.svg-->
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <polygon points="0 0 24 0 24 24 0 24" />
                                <path d="M5.29288961,6.70710318 C4.90236532,6.31657888 4.90236532,5.68341391 5.29288961,5.29288961 C5.68341391,4.90236532 6.31657888,4.90236532 6.70710318,5.29288961 L12.7071032,11.2928896 C13.0856821,11.6714686 13.0989277,12.281055 12.7371505,12.675721 L7.23715054,18.675721 C6.86395813,19.08284 6.23139076,19.1103429 5.82427177,18.7371505 C5.41715278,18.3639581 5.38964985,17.7313908 5.76284226,17.3242718 L10.6158586,12.0300721 L5.29288961,6.70710318 Z" fill="#000000" fill-rule="nonzero" transform="translate(8.999997, 11.999999) scale(-1, 1) translate(-8.999997, -11.999999)" />
                                <path d="M10.7071009,15.7071068 C10.3165766,16.0976311 9.68341162,16.0976311 9.29288733,15.7071068 C8.90236304,15.3165825 8.90236304,14.6834175 9.29288733,14.2928932 L15.2928873,8.29289322 C15.6714663,7.91431428 16.2810527,7.90106866 16.6757187,8.26284586 L22.6757187,13.7628459 C23.0828377,14.1360383 23.1103407,14.7686056 22.7371482,15.1757246 C22.3639558,15.5828436 21.7313885,15.6103465 21.3242695,15.2371541 L16.0300699,10.3841378 L10.7071009,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(15.999997, 11.999999) scale(-1, 1) rotate(-270.000000) translate(-15.999997, -11.999999)" />
                            </g>
                        </svg>
                        <!--end::Svg Icon-->
                    </span>
                </button>
                <!--end::Toolbar-->
            </div>
            <!--end::Brand-->
            <!--begin::Aside Menu-->
            <div class="aside-menu-wrapper flex-column-fluid" id="kt_aside_menu_wrapper">
                <!--begin::Menu Container-->
                <div  class="aside-menu my-4" data-menu-vertical="1" data-menu-scroll="1" data-menu-dropdown-timeout="500">
                    <!--begin::Menu Nav-->
                    <ul id="kt_aside_menu" class="menu-nav">



                    </ul>
                    
                    

                    <!--end::Menu Nav-->
                </div>
                <!--end::Menu Container-->
            </div>
            <!--end::Aside Menu-->
        </div>
  


<script>
document.addEventListener('DOMContentLoaded', async (event) => {
    let perfil = "";
    let allowedMenuItems = []; // Aqu铆 se almacenar谩n los IDs permitidos

    // Funci贸n para obtener la sesi贸n (y supongamos que tambi茅n retorna los permisos)
    async function obtenerSesion() {
        try {
            const response = await fetch('/api/session');
            const data = await response.json();

            if (data.success) {
                console.log('Datos de la sesi贸n:', data.sessionData);
                perfil = data.sessionData.perfil;
                allowedMenuItems = data.sessionData.allowedMenuItems || [];
                console.log('Perfil del usuario:', perfil);
                console.log('Permisos (IDs permitidos):', allowedMenuItems);

                // Generamos el men煤
                document.getElementById('kt_aside_menu').innerHTML = `
                  
                        <!-- INICIO -->
                        <li class="menu-item menu-item-active" aria-haspopup="true" id="menu-inicio">
                            <a href="/" class="menu-link" id="menu-inicio-link">
                                <span class="svg-icon menu-icon"></span>
                                <span class="menu-text">Inicio</span>
                            </a>
                        </li>
                        <!-- NUEVA GUIA -->
                        <li class="menu-item menu-item-active" aria-haspopup="true" id="menu-nueva-guia">
                            <a href="/guia" class="menu-link" id="menu-nueva-guia-link">
                                <span class="svg-icon menu-icon"></span>
                                <span class="menu-text">Nueva Guia</span>
                            </a>
                        </li>

                         <li class="menu-item menu-item-active" aria-haspopup="true" id="menu-pagos-ofi">
                            <a href="/reportes/movimientos_oficinas_pagos" class="menu-link" id="menu-nueva-guia-link">
                                <span class="svg-icon menu-icon"></span>
                                <span class="menu-text">Pagos Oficinas</span>
                            </a>
                        </li>
 


                        <li class="menu-item menu-item-active" aria-haspopup="true" id="menu-reporte-oficina">
                            <a href="/reportes/movimientos_oficinas" class="menu-link" id="menu-report-oficina">
                                <span class="svg-icon menu-icon"></span>
                                <span class="menu-text">Reporte Guias de Oficinas</span>
                            </a>
                        </li>

                        <!-- CAJA -->
                         <li class="menu-section" id="menu-acciones-section_caja">
                            <h4 class="menu-text"> Tu Caja</h4>
                            <i class="menu-icon ki ki-bold-more-hor icon-md"></i>
                        </li>

                         


                         <!-- Caja y Cuadres -->
  <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" id="menu-cuadre-caja">
    <a href="" class="menu-link menu-toggle" id="menu-caja-link">
      <span class="svg-icon menu-icon"></span>
      <span class="menu-text">Caja y Cierres</span>
      <i class="menu-arrow"></i>
    </a>




    
    <div class="menu-submenu" id="menu-gastos-costos-submenu">
      <i class="menu-arrow"></i>
      <ul class="menu-subnav">
         <li class="menu-item" aria-haspopup="true" id="menu-lista-rutas-list-caja">
                <a href="/sala_totalizacion2" class="menu-link" id="menu-lista-rutas-list-link-caja">
               <i class="menu-bullet menu-bullet-dot"><span></span></i>
               <span class="menu-text">Registrar</span>
                </a>
         </li>
        <li class="menu-item" aria-haspopup="true" id="menu-lista-rutas-geo-caja">
          <a href="/sala_reporte_totalizacion2" class="menu-link" id="menu-lista-rutas-geo-link-caja">
            <i class="menu-bullet menu-bullet-dot"><span></span></i>
              <span class="menu-text">Movimientos Caja</span>
            </a>
          </li>      
       
          <hr style="border-style: dotted;  border-width: 1px;">
          <br>
        
       
          <li class="menu-item" aria-haspopup="true"  id="menu-cuadre_ruta">
          <a href="/cuadre_ruta" class="menu-link menu-toggle" id="menu-cuadre-link">
            <i class="menu-bullet menu-bullet-dot"><span></span></i>
            <span class="menu-text">Cuadre Ruta</span>
           
          </a>
          
         </li>

        

          <li class="menu-item" aria-haspopup="true"  id="menu-cuadre_ruta1">
          <a href="/cuadre_ruta1" class="menu-link menu-toggle" id="menu-cuadre-link">
            <i class="menu-bullet menu-bullet-dot"><span></span></i>
            <span class="menu-text">Cuadres</span>
           
          </a>
          
         </li>



         <li class="menu-item" aria-haspopup="true"  id="menu-cuadre_ruta22">
          <a href="/cuadre_ruta2" class="menu-link menu-toggle" id="menu-cuadre-link3">
            <i class="menu-bullet menu-bullet-dot"><span></span></i>
            <span class="menu-text">Cuadres a Confirmar</span>
           
          </a>  

          
        </li>



          <li class="menu-item" aria-haspopup="true"  id="menu-cuadre-total">
           <a href="/cuadre_general" class="menu-link menu-toggle" id="menu-cuadre-link2">
             <i class="menu-bullet menu-bullet-dot"><span></span></i>
            <span class="menu-text">Cuadre General</span>
           
          </a>

         </li>




      </ul>
    </div>
  </li>



                        <!-- SECCIN ACCIONES -->
                        <li class="menu-section" id="menu-acciones-section">
                            <h4 class="menu-text">Acciones</h4>
                            <i class="menu-icon ki ki-bold-more-hor icon-md"></i>
                        </li>

                        
                        <!-- RUTAS (submenu) -->
                        <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" id="menu-rutas">
                            <a href="" class="menu-link menu-toggle" id="menu-rutas-link">
                                <span class="svg-icon menu-icon"></span>
                                <span class="menu-text">Rutas</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="menu-submenu" id="menu-rutas-submenu">
                                <i class="menu-arrow"></i>
                                <ul class="menu-subnav">
                                    <li class="menu-item" aria-haspopup="true" id="menu-lista-rutas-list">
                                        <a href="/lista_rutas_list" class="menu-link" id="menu-lista-rutas-list-link">
                                            <i class="menu-bullet menu-bullet-dot"><span></span></i>
                                            <span class="menu-text">Listado de Rutas</span>
                                        </a>
                                    </li>
                                    <li class="menu-item" aria-haspopup="true" id="menu-lista-rutas-geo">
                                        <a href="/lista_rutas_geo" class="menu-link" id="menu-lista-rutas-geo-link">
                                            <i class="menu-bullet menu-bullet-dot"><span></span></i>
                                            <span class="menu-text">Geolocalizacion</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- OPERACIONES (submenu) -->
                        <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" id="menu-operaciones">
                            <a href="/lista_programar" class="menu-link menu-toggle" id="menu-operaciones-link">
                                <span class="svg-icon menu-icon"></span>
                                <span class="menu-text">Operaciones</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="menu-submenu" id="menu-operaciones-submenu">
                                <i class="menu-arrow"></i>
                                <ul class="menu-subnav">
                                   <li class="menu-item" aria-haspopup="true" id="menu-preguias">
                                        <a href="/preguias" class="menu-link" id="menu-preguias-link">
                                            <i class="menu-bullet menu-bullet-dot"><span></span></i>
                                            <span class="menu-text">Preguias</span>
                                        </a>
                                    </li>
                                    <li class="menu-item" aria-haspopup="true" id="menu-lista-rutas-0">
                                        <a href="/lista_rutas_0" class="menu-link" id="menu-lista-rutas-0-link">
                                            <i class="menu-bullet menu-bullet-dot"><span></span></i>
                                            <span class="menu-text">Pendientes en Agencia</span>
                                        </a>
                                    </li>
                                    <li class="menu-item" aria-haspopup="true" id="menu-lista-rutas">
                                        <a href="/lista_rutas" class="menu-link" id="menu-lista-rutas-link">
                                            <i class="menu-bullet menu-bullet-dot"><span></span></i>
                                            <span class="menu-text">Guias por Recoger</span>
                                        </a>
                                    </li>
                                    <li class="menu-item" aria-haspopup="true" id="menu-lista-rutas-2">
                                        <a href="/lista_rutas_2" class="menu-link" id="menu-lista-rutas-2-link">
                                            <i class="menu-bullet menu-bullet-dot"><span></span></i>
                                            <span class="menu-text">Guias en Transito Local</span>
                                        </a>
                                    </li>
                                   
                                    <li class="menu-item" aria-haspopup="true" id="menu-lista-anuladas">
                                        <a href="/lista_anuladas" class="menu-link" id="menu-lista-anuladas-link">
                                            <i class="menu-bullet menu-bullet-dot"><span></span></i>
                                            <span class="menu-text">Anuladas</span>
                                        </a>
                                    </li>
                                   
                                    <li class="menu-item" aria-haspopup="true" id="menu-obtenerEstadisticasYPreguiasNoConvertidas">
                                        <a href="/obtenerEstadisticasYPreguiasNoConvertidas" class="menu-link" id="menu-obtenerEstadisticasYPreguiasNoConvertidas-link">
                                            <i class="menu-bullet menu-bullet-dot"><span></span></i>
                                            <span class="menu-text">Relacion Guias - Preguias</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>


                        <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" id="menu-operaciones">
                            <a href="/lista_programar" class="menu-link menu-toggle" id="menu-operaciones-link">
                                <span class="svg-icon menu-icon"></span>
                                <span class="menu-text">Cerco / Trailas</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="menu-submenu" id="menu-operaciones-submenu">
                                <i class="menu-arrow"></i>
                                <ul class="menu-subnav">  



                                   <li class="menu-item" aria-haspopup="true" id="menu-lista-trailer">
                                        <a href="/lista_trailer" class="menu-link" id="menu-lista-trailer-link">
                                            <i class="menu-bullet menu-bullet-dot"><span></span></i>
                                            <span class="menu-text">Guias en Trailer</span>
                                        </a>
                                    </li>
                                   
                                   
                                     </ul>
                            </div>
                        </li>               



                     <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" id="menu-operaciones">
                            <a href="/lista_programar" class="menu-link menu-toggle" id="menu-operaciones-link">
                                <span class="svg-icon menu-icon"></span>
                                <span class="menu-text">Transito Cedis / Trailes</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="menu-submenu" id="menu-operaciones-submenu">
                                <i class="menu-arrow"></i>
                                <ul class="menu-subnav">  



                                    <li class="menu-item" aria-haspopup="true" id="menu-lista-de-depositos">
                                        <a href="/lista_de_depositos" class="menu-link" id="menu-lista-de-depositos-link">
                                            <i class="menu-bullet menu-bullet-dot"><span></span></i>
                                            <span class="menu-text">Transito Cedis</span>
                                        </a>
                                    </li>
                                   
                                     </ul>
                            </div>
                        </li>               

                           <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" id="menu-operaciones">
                            <a href="/lista_programar" class="menu-link menu-toggle" id="menu-operaciones-link">
                                <span class="svg-icon menu-icon"></span>
                                <span class="menu-text">Cedis</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="menu-submenu" id="menu-operaciones-submenu">
                                <i class="menu-arrow"></i>
                                <ul class="menu-subnav">  



                                  
                                    <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" id="menu-container-virtual">
                                        <a href="/container_virtual" class="menu-link menu-toggle" id="menu-container-virtual-link">
                                            <i class="menu-bullet menu-bullet-line"><span></span></i>
                                            <span class="menu-text">Cedis</span>
                                        </a>
                                    </li>
                                    <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" id="menu-container-fisico">
                                        <a href="/container_fisico" class="menu-link menu-toggle" id="menu-container-fisico-link">
                                            <i class="menu-bullet menu-bullet-line"><span></span></i>
                                            <span class="menu-text">Contenedores Fisicos</span>
                                        </a>
                                    </li> 
                                     </ul>
                            </div>
                          </li>       
                          

                          <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" id="menu-operaciones">
                            <a href="/lista_programar" class="menu-link menu-toggle" id="menu-operaciones-link">
                                <span class="svg-icon menu-icon"></span>
                                <span class="menu-text">Cargas Centroamerica</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="menu-submenu" id="menu-operaciones-submenu">
                                <i class="menu-arrow"></i>
                                <ul class="menu-subnav">  



                                  
                                 
                                    <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" id="menu-container-fisico">
                                        <a href="/container_fisico" class="menu-link menu-toggle" id="menu-container-fisico-link">
                                            <i class="menu-bullet menu-bullet-line"><span></span></i>
                                            <span class="menu-text">Contenedores Fisicos</span>
                                        </a>
                                    </li> 
                                     </ul>
                            </div>
                          </li>       






                       
    <!-- PAGOS Y COBRANZA -->
  <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" id="menu-pagos-cobranza">
    <a href="/lista_programar" class="menu-link menu-toggle" id="menu-pagos-cobranza-link">
      <span class="svg-icon menu-icon"></span>
      <span class="menu-text">Pagos y Cobranza</span>
      <i class="menu-arrow"></i>
    </a>
    <div class="menu-submenu" id="menu-pagos-cobranza-submenu">
      <i class="menu-arrow"></i>
      <ul class="menu-subnav">
        <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" id="menu-por-cobrar">
          <a href="javascript:;" class="menu-link menu-toggle" id="menu-por-cobrar-link">
            <i class="menu-bullet menu-bullet-dot"><span></span></i>
            <span class="menu-text">Por Cobrar</span>
           
            <i class="menu-arrow"></i>
          </a>

              <div class="menu-submenu" id="menu-por-cobrar-submenu">
                 <ul class="m-2">
                 <li class="p-2"  id="menu-lista-tabulador-precio">
                  <a href="/pagos" class="text-white" id="menu-lista-tabulador-precio-link">
                   <i class="menu-bullet menu-bullet-line"><span></span></i>
                     <span class="menu-text">Por Agencias</span>
                  </a>
                </li>
            
               
                 <li class="p-2" id="menu-pagos-c">
                  <a href="/pagos_c" class="text-white" id="menu-agencias-agencia-precio-link">
                     <i class="menu-bullet menu-bullet-line"><span></span></i>
                   <span class="menu-text">Por Conductores</span>
                  </a>
                </li>
              </ul>
            </div>


         
        </li>






        
         








        <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" id="menu-cobrados">
          <a href="javascript:;" class="menu-link menu-toggle" id="menu-cobrados-link">
            <i class="menu-bullet menu-bullet-dot"><span></span></i>
            <span class="menu-text">Cobrados</span>
           
            <i class="menu-arrow"></i>
          </a>

              <div class="menu-submenu" id="menu-por-cobrar-submenu">
                 <ul class="m-2">
                 <li class="p-2"  id="menu-cobrados-submenu">
                  <a href="/lista_pagos_cobrados" class="text-white" id="menu-lista-tabulador-precio-link">
                   <i class="menu-bullet menu-bullet-line"><span></span></i>
                      <span class="menu-text">Por Agencias</span>
                  </a>
                </li>
            
                 <li class="p-2" id="menu-confirmaciones">
                  <a href="/confirmaciones" class="text-white" id="menu-agencias-agencia-precio-link">
                   <i class="menu-bullet menu-bullet-line"><span></span></i>
                   <span class="menu-text">Remesas</span>
                  </a>
                </li>
              </ul>
            </div>



     
        </li>


         <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" id="menu-efectividad">
          <a href="/lista_rutas_eficiencia" class="menu-link menu-toggle" id="menu-por-cobrar-link">
             <i class="menu-bullet menu-bullet-dot"><span></span></i>
            <span class="menu-text">Efectividad en Cobranza</span>
           
           
          </a>

             
          </li>

      </ul>
    </div>
  </li>

  
  <!-- GASTOS Y COSTOS -->
  <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" id="menu-gastos-costos">
    <a href="" class="menu-link menu-toggle" id="menu-gastos-costos-link">
      <span class="svg-icon menu-icon"></span>
      <span class="menu-text">Gastos y Costos</span>
      <i class="menu-arrow"></i>
    </a>
    <div class="menu-submenu" id="menu-gastos-costos-submenu">
      <i class="menu-arrow"></i>
      <ul class="menu-subnav">



        <li class="menu-item" aria-haspopup="true"  id="menu-comisiones">
          <a href="/comisiones" class="menu-link menu-toggle" id="menu-comisiones-descuentos-link">
            <i class="menu-bullet menu-bullet-dot"><span></span></i>
            <span class="menu-text">Comisiones</span>
           
          </a>
          
        </li>
          <li class="menu-item" aria-haspopup="true"  id="menu-egresos-link">
           <a href="/egresos" class="menu-link menu-toggle" id="menu-egresos-link2">
             <i class="menu-bullet menu-bullet-dot"><span></span></i>
            <span class="menu-text">Egresos</span>
           
          </a>

         </li>

           <li class="menu-item" aria-haspopup="true"  id="menu-descuentos">
          <a href="/descuentos" class="menu-link menu-toggle" id="menu-descuentos2">
            <i class="menu-bullet menu-bullet-dot"><span></span></i>
            <span class="menu-text">Descuentos</span>
            
          </a>
         </li>
      </ul>
    </div>
  </li>




   



  <!-- SECCIN OPCIONES DE DESTINO -->
  <li class="menu-section" id="menu-opciones-destino-section">
    <h4 class="menu-text">Opciones de Destino</h4>
    <i class="menu-icon ki ki-bold-more-hor icon-md"></i>
  </li>

  <!-- OPERACIONES DESTINO -->
  <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" id="menu-operaciones-destino">
    <a href="javascript:;" class="menu-link menu-toggle" id="menu-operaciones-destino-link">
      <span class="svg-icon menu-icon"></span>
      <span class="menu-text">Operaciones Destino</span>
      <i class="menu-arrow"></i>
    </a>
    <div class="menu-submenu" id="menu-operaciones-destino-submenu">
      <i class="menu-arrow"></i>
      <ul class="menu-subnav">
        <li class="menu-item" aria-haspopup="true" id="menu-deposito-destino">
          <a href="/deposito_destino" class="menu-link" id="menu-deposito-destino-link">
            <i class="menu-bullet menu-bullet-dot"><span></span></i>
            <span class="menu-text">Bodega Destino</span>
          </a>
        </li>
        <li class="menu-item" aria-haspopup="true" id="menu-lista-repartos">
          <a href="/transito_inter" class="menu-link" id="menu-lista-repartos-link">
            <i class="menu-bullet menu-bullet-dot"><span></span></i>
            <span class="menu-text">Cami贸n Destino</span>
          </a>
        </li>

         <li class="menu-item" aria-haspopup="true" id="menu-lista-status_entrega">
          <a href="/mov_container_fisico2" class="menu-link" id="menu-lista-repartos-link">
            <i class="menu-bullet menu-bullet-dot"><span></span></i>
            <span class="menu-text">Estado De Entrega por Contenedor</span>
          </a>
        </li>

         <li class="menu-item" aria-haspopup="true" id="menu-lista-status_entrega">
          <a href="/listado_recorrridos" class="menu-link" id="menu-lista-repartos-link">
            <i class="menu-bullet menu-bullet-dot"><span></span></i>
            <span class="menu-text">Recorridos Ruta Destino</span>
          </a>
        </li>

         

       
      </ul>
    </div>
  </li>


   <li class="menu-section" id="menu-opciones-destino-final">
    <h4 class="menu-text">Ultimo Destino</h4>
    <i class="menu-icon ki ki-bold-more-hor icon-md"></i>
  </li>

<li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" id="menu-operaciones-final">
    <a href="javascript:;" class="menu-link menu-toggle" id="menu-operaciones-destino-link">
      <span class="svg-icon menu-icon"></span>
      <span class="menu-text">Destino Final</span>
      <i class="menu-arrow"></i>
    </a>
    <div class="menu-submenu" id="menu-operaciones-destino-submenu">
      <i class="menu-arrow"></i>
      <ul class="menu-subnav">
        <li class="menu-item" aria-haspopup="true" id="menu-deposito-destino2">
          <a href="/entregadas" class="menu-link" id="menu-deposito-destino-link">
            <i class="menu-bullet menu-bullet-dot"><span></span></i>
            <span class="menu-text">Guias Entregadas</span>
          </a>
        </li>
        <li class="menu-item" aria-haspopup="true" id="menu-lista-repartos2">
          <a href="/lista_anuladas" class="menu-link" id="menu-lista-repartos-link">
            <i class="menu-bullet menu-bullet-dot"><span></span></i>
            <span class="menu-text">Guias Anuladas</span>
          </a>
        </li>

        


       
      </ul>
    </div>
  </li>


  


  <!-- SECCIN CONFIGURACIN -->
  <li class="menu-section" id="menu-configuracion-section">
    <h4 class="menu-text">Configuraci贸n</h4>
    <i class="menu-icon ki ki-bold-more-hor icon-md"></i>
  </li>

  <!-- MICELANEOS -->
  <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" id="menu-micelaneos">
    <a href="/lista_programar" class="menu-link menu-toggle" id="menu-micelaneos-link">
      <span class="svg-icon menu-icon"></span>
      <span class="menu-text">Micelaneos</span>
      <i class="menu-arrow"></i>
    </a>
    <div class="menu-submenu" id="menu-micelaneos-submenu">
      <i class="menu-arrow"></i>
      <ul class="menu-subnav">
        
        
        <li class="menu-item" aria-haspopup="true" id="menu-lista-oficinas">
          <a href="/Oficinas" class="menu-link" id="menu-lista-oficinas-link">
            <i class="menu-bullet menu-bullet-dot"><span></span></i>
            <span class="menu-text">Oficinas</span>
          </a>
        </li>


        <li class="menu-item" aria-haspopup="true" id="menu-lista-agencias">
          <a href="/agencias" class="menu-link" id="menu-lista-agencias-link">
            <i class="menu-bullet menu-bullet-dot"><span></span></i>
            <span class="menu-text">Agencias</span>
          </a>
        </li>

        <li class="menu-item" aria-haspopup="true" id="menu-rutas-lista">
          <a href="/rutas" class="menu-link" id="menu-lista-agencias-link">
            <i class="menu-bullet menu-bullet-dot"><span></span></i>
            <span class="menu-text">Rutas</span>
          </a>
        </li>

         <li class="menu-item" aria-haspopup="true" id="menu-rutas-lista2">
          <a href="/ruta_destino" class="menu-link" id="menu-lista-agencias-link">
            <i class="menu-bullet menu-bullet-dot"><span></span></i>
            <span class="menu-text">Rutas Destino</span>
          </a>
        </li>
        <li class="menu-item" aria-haspopup="true" id="menu-rutas-conductores">
          <a href="/conductores" class="menu-link" id="menu-lista-agencias-link">
            <i class="menu-bullet menu-bullet-dot"><span></span></i>
            <span class="menu-text">Conductores</span>
          </a>
        </li>
        <li class="menu-item" aria-haspopup="true" id="menu-tipos-pago">
          <a href="/tipos_pago" class="menu-link" id="menu-tipos-pago-link">
            <i class="menu-bullet menu-bullet-dot"><span></span></i>
            <span class="menu-text">Tipos de Pago</span>
          </a>
        </li>


         <li class="menu-item" aria-haspopup="true" id="menu-tipos-egreso">
          <a href="/lista_tipo_egresos" class="menu-link" id="menu-tipos-pago-link">
            <i class="menu-bullet menu-bullet-dot"><span></span></i>
            <span class="menu-text">Tipos de Egresos</span>
          </a>
        </li>



        <li class="menu-item" aria-haspopup="true" id="menu-formas-pago">
          <a href="/formas_pago" class="menu-link" id="menu-formas-pago-link">
            <i class="menu-bullet menu-bullet-dot"><span></span></i>
            <span class="menu-text">Forma de Pago</span>
          </a>
        </li>
        <li class="menu-item" aria-haspopup="true" id="menu-lista-status-ope">
          <a href="/lista_status_ope" class="menu-link" id="menu-lista-status-ope-link">
            <i class="menu-bullet menu-bullet-dot"><span></span></i>
            <span class="menu-text">Estatus Envio</span>
          </a>
        </li>
        <li class="menu-item" aria-haspopup="true" id="menu-lista-etiquetas-varios">
          <a href="/listar_etiquetas" class="menu-link" id="menu-lista-status-varios-link">
            <i class="menu-bullet menu-bullet-dot"><span></span></i>
            <span class="menu-text"> Etiquetas</span>
          </a>
        </li>
        <li class="menu-item" aria-haspopup="true" id="menu-lista-status-varios">
          <a href="/lista_status_varios" class="menu-link" id="menu-lista-status-varios-link">
            <i class="menu-bullet menu-bullet-dot"><span></span></i>
            <span class="menu-text">Estados Diversos</span>
          </a>
        </li>
        <li class="menu-item" aria-haspopup="true" id="menu-referidos">
          <a href="/referidos" class="menu-link" id="menu-referidos-link">
            <i class="menu-bullet menu-bullet-dot"><span></span></i>
            <span class="menu-text">Referido</span>
          </a>
        </li>
        
        <li class="menu-item" aria-haspopup="true" id="menu-lista-referidos">
          <a href="/lista_referidos" class="menu-link" id="menu-lista-referidos-link">
            <i class="menu-bullet menu-bullet-dot"><span></span></i>
            <span class="menu-text">Paquetes / Cajas</span>
          </a>
        </li>
        <li class="menu-item" aria-haspopup="true" id="menu-lista-paises">
          <a href="/lista_paises" class="menu-link" id="menu-lista-paises-link">
            <i class="menu-bullet menu-bullet-dot"><span></span></i>
            <span class="menu-text">Paises, Estados, Ciudades</span>
          </a>
        </li>
        <li class="menu-item" aria-haspopup="true" id="menu-tipo-transporte">
          <a href="/" class="menu-link" id="menu-tipo-transporte-link">
            <i class="menu-bullet menu-bullet-dot"><span></span></i>
            <span class="menu-text">Tipo Transporte</span>
          </a>
        </li>
        <li class="menu-item" aria-haspopup="true" id="menu-listaseguimiento">
          <a href="/listaseguimiento" class="menu-link" id="menu-listaseguimiento-link">
            <i class="menu-bullet menu-bullet-dot"><span></span></i>
            <span class="menu-text">Estados Seguimiento</span>
          </a>
        </li>
        <li class="menu-item" aria-haspopup="true" id="menu-rubros">
          <a href="/rubros" class="menu-link" id="menu-rubros-link">
            <i class="menu-bullet menu-bullet-dot"><span></span></i>
            <span class="menu-text">Items Facturar</span>
          </a>
        </li>
      </ul>
    </div>
  </li>

  




   <!-- USUARIOS -->
  <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" id="menu-usuarios">
    <a href="javascript:;" class="menu-link menu-toggle" id="menu-usuarios-link">
      <span class="svg-icon menu-icon"></span>
      <span class="menu-text">Usuarios</span>
      <i class="menu-arrow"></i>
    </a>
    <div class="menu-submenu" id="menu-usuarios-submenu">
      <i class="menu-arrow"></i>
      <ul class="menu-subnav">
        <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" id="menu-usuarios-submenu">
          <a href="javascript:;" class="menu-link menu-toggle" id="menu-usuarios-submenu-2-link">
            <i class="menu-bullet menu-bullet-line"><span></span></i>
            <span class="menu-text">Usuarios</span>
           
            <i class="menu-arrow"></i>
          </a>
            <div class="menu-submenu ml-3" id="menu-precio-submenu-submenu">
                 <ul class=" m-2">
                 <li class=""  id="menu-lista-tabulador-comi">
                 <a href="/users" class="text-white " id="menu-users">

                  <span class="menu-text">Listado de Usuarios</span>
                 </a>  

                  </li>
                  </ul>

                <ul class=" m-2">
                    <li class=""  id="menu-lista-permisos">
                        <a href="/permisos" class="text-white" id="menu-precio-submenu-link1">
                            <span class="menu-text">Permisos Nivel</span>

                        </a>  

                    </li>
                </ul>

                <ul class="m-2 ">
                    <li class=""  id="menu-lista-permisos">
                        <a href="/lista_cargos" class="text-white" id="menu-lista-cargos">
                             <span class="p2">Listado de Cargos</span>

                        </a>  

                    </li>
                </ul>
            </div>






        </li>
        
      </ul>
    </div>
  </li>



  <!-- TABULADORES -->
  <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" id="menu-tabuladores">
    <a href="javascript:;" class="menu-link menu-toggle" id="menu-tabuladores-link">
      <span class="svg-icon menu-icon"></span>
      <span class="menu-text">Tabuladores</span>
      <i class="menu-arrow"></i>
    </a>
    <div class="menu-submenu" id="menu-tabuladores-submenu">
      <i class="menu-arrow"></i>
      <ul class="menu-subnav">
        <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" id="menu-comisiones-submenu">
          <a href="javascript:;" class="menu-link menu-toggle" id="menu-comisiones-submenu-link">
            <i class="menu-bullet menu-bullet-line"><span></span></i>
            <span class="menu-text">Comisiones</span>
            <span class="menu-label"><span class="label label-rounded label-primary">4</span></span>
            <i class="menu-arrow"></i>
          </a>


           <div class="menu-submenu" id="menu-precio-submenu-submenu">
                 <ul class="m-2">
                 <li class=""  id="menu-lista-tabulador-comi">
                 <a href="/lista_tabulador_comi" class="text-white"  id="menu-precio-submenu-link2">

                    <span class="menu-text">Modelo Tabulador</span>
                 </a>  

                  </li>
              </ul>

                <ul class="m-2">
                 <li class=""  id="menu-agencias-agencia">
                  <a href="#" class="text-white"  id="menu-precio-submenu-link1">
                    <span class="menu-text">Comision Agencia</span>

                 </a>  

                   </li>
              </ul>
            </div>



        </li>

        <ul class="menu-subnav">
          <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" id="menu-precio-submenu">
            <a href="javascript:;" class="menu-link menu-toggle" id="menu-precio-submenu-link">
              <i class="menu-bullet menu-bullet-line"><span></span></i>
              <span class="menu-text">Precio</span>
              <span class="menu-label"><span class="label label-rounded label-primary">4</span></span>
              <i class="menu-arrow"></i>
            </a>


              <div class="menu-submenu" id="menu-precio-submenu-submenu">
                 <ul class="m-2">
                 <li class=""  id="menu-lista-tabulador-precio">
                  <a href="/lista_tabulador_precio" class="text-white"  id="menu-lista-tabulador-precio-link">
                    <i class="menu-bullet menu-bullet-dot"><span></span></i>
                    <span class="menu-text">Modelo Tabulador</span>
                  </a>
                </li>
            
                 <li class=""  id="menu-agencias-agencia-precio">
                  <a href="/agencias_agencia" class="text-white"  id="menu-agencias-agencia-precio-link">
                    <i class="menu-bullet menu-bullet-dot"><span></span></i>
                    <span class="menu-text">Precios por Agencias</span>
                  </a>
                </li>
              </ul>
            </div>





            



          </li>
        </ul>
      </ul>
    </div>
  </li>
<br>
<br>
<br>
<br>
<br>
<br>


                `;


                document.querySelectorAll('.menu-item[id]').forEach(item => {
                    if (!allowedMenuItems.includes(item.id)) {
                        item.style.display = 'none';
                    }
                });

                //  **Forzar actualizaci贸n del tama帽o del men煤**
                setTimeout(() => {
                    let asideMenu = document.getElementById('kt_aside_menu');
                    asideMenu.style.height = 'auto';
                    asideMenu.style.maxHeight = 'none';
                }, 100); 
            } else {
                console.log('No se encontr贸 sesi贸n activa');
            }
        } catch (error) {
            console.error('Error al obtener la sesi贸n:', error);
        }
    }
        // Llamar a la funci贸n para obtener la sesi贸n
        obtenerSesion();
    });





  </script>