<%- include("templantes/cabecera", {nombre_pagina: 'Inicio'}) %>
<div class="container py-5">
 
  <p>Proyecto de Nómina iniciado con Cursor + GitHub.</p>
</div>
<%- include("templantes/footer") %>



